<table class='pmsummary'>
	<tr>
	  <th><%= l(:pc_type) %></th>
	  <th><%= l(:amount)%></th>
	  <th><%= l(:description)%></th>
	  <th><%= l(:status)%></th>
	</tr>
	<tr>
	  <td>test</td>
	  <td>test</td>
	  <td>test</td>
	  <td>test</td>
	</tr>
</table>
