<%= render :partial => 'common/header' %>

<div id="note-container">
  <h2><%= l(:label_note_plural) %></h2>
  
  <div id="content-left">
  
  </div>
  
  <div id="content-right">
    <div class="note-tabs" id="iteration">
    </div>
    <div class="note-tabs" id="project">
    </div>
  </div>
</div>
