<% @updated_at = @billability["updated_at"] ? @billability["updated_at"] : nil %>

<% if params[:view] && params[:view].eql?('month') %>
  <%= render :partial => "project_billability/monthly" %>
<% else %>
  <%= render :partial => "project_billability/weekly" %>
<% end %>

<script type="text/javascript">
  jQuery("#updated_at").text("");
  jQuery("#updated_at").text("<%= "as of #{Time.parse(@updated_at).strftime('%b %d, %Y %I:%M %p')}" if @updated_at %>");
</script>
