<% form_for(form_name.to_sym, :url => {:controller => 'project_info', :action => "add_pm_#{form_name}", :project_id => @project, :member_id => @member}) do |f| %>
  <%= f.text_field :name, :required => true %>
  <%= submit_tag "Add", :class => "small" %>
  <%= link_to "Cancel", {:controller => 'pm_dashboards', :action => 'index', :project_id => @project, :tab => :info}, :class => 'icon icon-cancel' %>
<% end %>
