<% form_for(:member, @member, :url => {:controller => 'project_info', :action => 'pm_member_update', :id => @member, :project_id => @member.project}, :method => :post) do |f| %>
  <%= f.text_area :remarks, :size => "20x3" %><br />
  <%= submit_tag "Ok", :class => "small" %>
<% end %>
