<% form_for(:member, @member, :url => {:controller => 'project_info', :action => 'pm_member_update', :id => @member, :project_id => @member.project}, :method => :post) do |f| %>
  <p><%= f.text_area :remarks, :size => "20x3" %></p>
  <p><%= submit_tag "Save", :class => "small" %></p>
<% end %>
