<div class="contextual">
  <%= link_to "New Assumption", { :controller => 'assumptions' , :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2>Assumptions</h2>

<% if @assumptions.any? %>
  <%= render :partial => 'pm_dashboards/assumptions/list' %>
<% else %>
<p class="nodata" colspan='9'><%= l(:label_no_data) %></p>
<% end %>
