<h2>Project Billability/Chargeability History</h2>

<% if @project_resources.any? %>
  <%= render :partial => "pm_dashboards/project_billability/summary" %>
  <%= render :partial => "pm_dashboards/project_billability/list" %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>
