<h2><%= l(:label_resource_cost_forecast_plural) %></h2>

<% if @members.any? %>
  <div style='width: 100%;' id='members_content'>
    <%= render :partial => 'pm_dashboards/resource_cost/list' %>
  </div>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>
