<tr><%= content_tag 'th', number_to_currency(per_column[0].to_f), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', number_to_currency(per_column[1].to_f), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', number_to_currency(per_column[2].to_f), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', number_to_currency(per_column[3].to_f), :class => 'cost', :colspan =>'2' %></tr>
