<script type="text/javascript">
  <% if json_billability_per_week and !json_billability_per_week.eql?("[]") %>
    plot_billability("bchart2", [<%= json_billability_per_week %>]);
  <% end %>
</script>
