<% if @billability["billability_per_week"] and !@billability["billability_per_week"].empty? %>
<script type="text/javascript">
  plot_billability("bchart2", [<%= @billability["billability_per_week"].to_json %>]);
</script>
<% end %>
