<script type="text/javascript">
  <% if @billability["billability_per_week"] and !@billability["billability_per_week"].empty? %>
    plot_billability("bchart2", [<%= @billability["billability_per_week"].to_json %>]);
  <% end %>
</script>
