<script type="text/javascript">
  if (jQuery("#bar_chart").length > 0){
    jQuery('#bar_chart').empty();
    plot_cost("bar_chart", [<%= @cost_budget %>,<%= @cost_forecast%>,<%= @cost_actual%>]);
  }
</script>
