<table class='pmsummary'>
  <tr>
    <th># of Resources</th>
    <td><%= @project_resources.count %></td>
  </tr>
  <tr>
    <th>Billability % to date</th>
    <td id="billability_percent_to_date">%</td>
  </tr>
</table>
