/*******************
        TABLES
*******************/

table#pm_dashboard_header {border-collapse: collapse; }
table#pm_dashboard_header tr td { white-space: nowrap; }
table#pm_dashboard_header tr td span {font-weight: bold; display: inline-block; text-align: left; }
table#pm_dashboard_header tr td span:after { content: ":" }
table#pm_dashboard_header tr td.value {border-right: 9px solid white; }

table.pmsummary { float: right; margin: 10px 0; border-collapse: collapse;}
.pmsummary tr th { border: 1px solid #989898; text-align: right; padding: 4px; width: 150px;}
.pmsummary tr td { border: 1px solid #989898; padding: 4px; padding-left: 10px; width: 150px;}

table#risks tr td{ font-size: 11px;}
table#risks tr.risks_header { padding: 1px; background-color: #EEEEEE;}
table#risks tr th { white-space: normal; }
table#risks tr th.narrow {
  background-color: transparent;
  width: 1px;
  zoom: 1;
  -moz-transform: rotate(270deg);  /* FF3.5+ */
  -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
  -ms-transform: rotate(270deg);  /* IE9 */
  transform: rotate(270deg);  
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1.836909530733566e-16, M12=1, M21=-1, M22=-1.836909530733566e-16, sizingMethod='auto expand');
}

table.list tbody tr.highlight { background-color: #ffffb0; color: #000; }
tr.red, td.red, th.red { background-color: #DD0806; color: #FFF; }
tr.yellow, td.yellow, th.yellow { background-color: #F4EB05; }
tr.green, td.green, th.green { background-color: #006411; color: #FFF; }
tr.lgreen, td.lgreen, th.lgreen { background-color: #9FC35B; color: #000; }
tr.lblue, td.lblue, th.lblue { background-color: #99CCFF; color: #000; }
tr.lgray, td.lgray, th.lgray { background-color: #9a9a9a; color: #FFF; }
tr.lred, td.lred, th.lred { background-color: #E57E7C; color: #000; }

td.left { text-align: left!important; }
td.right { text-align: right!important; }

.splitcontentleft table, .splitcontentright table { margin-left: 180px;}
.popup table { width: 100%;}

table.rcf { table-layout: fixed;}
table#resource_costs { table-layout: fixed;}
table#resource_costs tr td { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.resource_cost_table_container, .bottomline_cost_table_container, .utilization_table_container { margin-left: 1px;}

div.movable_table_container { float: left; position: relative; overflow-x: auto; background-color: #FFFEFD;}
.floating_table { float: left; display: inline-block; table-layout: fixed; width: 210px;}
.list.with_width { width: 210px;}

#undef_weeks{ height: 2px; text-align: center; padding: 0; background-color: #FCFCFC; border: 1px solid #F0F0F0;}
td.daily_rate, th.daily_rate { padding-right: 10px; border-right: 2px solid black; text-align: right;}
div.resource_cost_container th.cost, div.resource_cost_container td.cost { padding-right: 5px; border-right: 2px solid #BBBBBB; text-align: right; width: 80%; vertical-align: bottom;}
div.resource_cost_container th {vertical-align: bottom;}

.milestone table { width: 1000px;	}
.milestone tr th { background: gray; border: 1px solid #989898; text-align: middle; padding: 4px;}

#billability_table table tr th, #utilization_per_date table tr th {white-space: normal; }
#billability_table table tr td, #utilization_per_date table tr td {text-align: center;  }

#resources_info_table {border-right: 2px solid black;}
#resources_info_table tbody tr, #totals_container table tr td {text-align: center;}
#totals_container {float: left; width: 20%;}
#totals_container table {border-left: 2px solid black;}

table#pm_dashboard_milestones { table-layout: fixed; }
table#pm_dashboard_milestones tr th { white-space: normal; }
table#pm_dashboard_milestones .phase {width: 39% }
table#pm_dashboard_milestones .orig_date, table#pm_dashboard_milestones .effect_date, table#pm_dashboard_milestones .state {width: 20% }


div.tables_container { width: 100%; padding: 0; margin: 0; display: inline-block; }
div.fixed_table_container { float: left; white-space: nowrap; border-right: 1px solid black;}
div#floating_tables_holder, div#weeks_header_holder { position: relative; }
table {font-size: 12px; }
table.fixed { table-layout: fixed; }
table#allocations_fixed_table tr td { text-overflow: clip; overflow: hidden; white-space: nowrap; text-align: center;}
table#allocations_fixed_table_clone tr td { text-overflow: clip; overflow: hidden; white-space: nowrap; text-align: center; }
table#allocation_week tr td, table#allocation_week tr th { text-align: center; text-overflow: ellipsis; overflow: hidden; }

div#time_logging_table table tr td, div#time_logging_table table tr th {white-space: normal }
div#time_logging_table table thead tr { height: 60px; }
tr.summary_total {height: 27px; ha:;}
tr.summary_total td { color: black; font-weight: bold; text-align: center; background-color: #eee; vertical-align: middle;}

/**********************
  GENERAL CLASSES
**********************/

.zero_wrap {overflow: hidden; width: 100%; margin: 0; padding: 0}
.clear {clear: both}
.even2 { background-color: #F5FFEE }
.odd2 { background-color: #F7EEFF }
.nodata { text-align: center; background-color: #E1E1E1; border-color: #E4E4E4; color: black;}
.wrong  {border: 2px solid red; }
.red_notice {position: absolute; color: red; font-weight: bold; margin: 2px 24px;}
div.guide p { font-size: 9px; line-height: 0.15em;}

#content .tabs {height: inherit; width: 100%; float: left; margin-bottom: 10px; padding: 10px 0 1px 6px}
#content .tabs ul {position: relative; padding: 0; margin: 0; }
#content .tabs ul li { margin: -1px 2px;}

.resources_container, .cost_monitoring_container { float: left; white-space: nowrap; width: 25%;}
.resource_cost_container, .bottomline_costs_container { float: left; width: 75%; position: relative; overflow-x: auto;}

#cost_monitoring th {text-align: left}
#cost_monitoring { table-layout: fixed; border-right: 2px solid black; }
#bottomline_cost_monthly td, #bottomline_cost_monthly tr th { text-align: right; }

.contextual.info_edit{
  border: 1px solid #e4e4e4;
  padding: 2px;
  border-bottom: none;
  background-color: #e4e4e4;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.h-actions {
  background-color: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  position: relative;
  top: 0;
  right: 0;
  margin: 5px;
}
.h-actions a { margin: 0 3px; }

.scrolled_table_container {width: 100%; max-height: 200px; overflow-y: auto; }


/**********************
      ALLOCATIONS
**********************/

#date_range { padding-bottom: 3px; width: 100%; padding: 1px 0px; }
span.button-like {
  display: inline-block;
  background: #E2E2E2;
  font-size: 12px;
  -moz-border-radius: 2px;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 2px;
  margin-bottom: 1px;
}

input[type="text"].button-like { background: transparent; border: 0; margin-left: -10px; padding-left: 9px; }
input[type="text"].button-like:hover { background: #E2E2E2; -moz-border-radius: 2px; border-radius: 3px; }
input.allocation_check_box {padding: 0px; 	margin: 0px; }

/**********************
      DASHBOARD
**********************/

.singleCol { float:left; width:31%; padding:0.95em;}
div.indent p { margin: 2em; padding: 0px 10px; text-align: justify;}
div.main_holder { padding: 3px; background: #eee; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
div.content_holder{ margin: 0; border: 1px solid #ccc; }
div.content_header{ height: 33px; padding: 0 6px; border-bottom: 1px solid #ccc; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); font-size: 14px; font-weight: bolder; }
div.main_content{ position: relative; padding: 0 6px; color: #333; font-size: 12px; overflow: auto; background: #fbfbfb; }

#highlights_summary em {margin: 5px 0; display: inline-block; }

p#current_sprint_label {font-size: 10px; font-weight: bold; text-align: center; margin: 3px; }

/**********************
      HIGHLIGHTS
**********************/
div.week_highlight {padding: 2px; margin-bottom: 4px; max-height: 400px; background-color: transparent; overflow: auto;}
.highlighttext { background-color: #F6F6F6; border: 1px solid #E4E4E4; height: 470px; overflow: auto; padding: 5px;}
.highlighttext span.content_text { margin-top: 5px; display: block; }
.highlight-box { height: 170px; min-height: 170px; overflow: auto; margin: 5px 0 15px 0; padding: 0 3px; color: #505050; border: 1px solid #e4e4e4;
                              border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }

#highlight_form { margin-top: 10px; }
#highlight_form textarea { width: 99%; height: 250px; resize: none; margin-top: 5px;}

.icon-unpost {background-image: url(/images/false.png) }
.dashboard_highlight { overflow: auto; max-height: 110px; margin: 0 0 10px 0; padding: 2px 15px 5px 2px;
                                           border: 1px solid #E4E4E4; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;}
.dashboard_highlight p { margin: 0 1px 0 2px;}
.dashboard_highlight ul { padding: 2px 45px; margin: 2px 0; }

div#period { position: relative; top: -498px; z-index: 999;}
div#period span {
  background-color: #F6F6F6;
  color: #999;
  border: 1px solid #E4E4E4;
  padding: 3px;
  border-bottom: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
div#period span.selected { background-color: #fff; font-weight: bold; color: #000;}


/*******************
        CHARTS
*******************/

.btn_show_chart{ width: 100%; background-color: #dfdfdf; border: 1px solid #cfcfcf; padding: 5px; color: #777; font-size: 1em; font-weight: bold; }
.btn_show_chart:hover{ color: #34c134; }
.jqplot-pie-series.jqplot-data-label {color: black; }
