<%= l(:text_hello, :name => @assumption.user.name) %>
<%= l(:text_update, :feature => "Assumption", :ref_number => "##{@assumption.ref_number}", :project => @assumption.project.name) %>
<%= l(:text_view_details, :url => @assumption_url) %>
