<%= l(:text_hello, :name => @risk.user.name) %>
<%= l(:text_update, :project => @risk.project.name, :feature => "Risk", :ref_number => @risk.ref_number) %>
<%= l(:text_view_details, :url => @risk_url) %>
