
<h2>Milestone Entry</h2>

<div class="box">
<% form_for :version, @milestone, :url => {:controller => 'milestone_plans', :action => 'add', :project_id => @project, :milestone_id => @milestone, :release_id => params[:release_id]} do |f| %>
	<%= render :partial => 'pm_dashboards/milestone_plans/form', :locals => { :button_label => "Create", :project => @project, :release_id => params[:release_id], :f => f } %>
<% end %>
</div>
