
<h2>Milestone</h2>

<div class="box">
<% form_for :version, @version, :url => {:controller => 'milestone_plans', :action => 'update', :project_id => @project, :version_id => @version} do |f| %>
	<%= render :partial => 'pm_dashboards/milestone_plans/form', :locals => { :button_label => "Update", :project => @project, :release_id => params[:release_id], :f => f } %>
<% end %>
</div>
