
<h2>Milestone Entry</h2>

<div class="box">
<% form_for :milestone, @milestone, :url => {:controller => 'milestone_plans', :action => 'update', :project_id => @project, :milestone_id => @milestone} do |f| %>
	<%= render :partial => 'pm_dashboards/milestone_plans/form', :locals => { :button_label => "Update", :project => @project, :release_id => params[:release_id], :f => f } %>
<% end %>
</div>
