<tr><%= content_tag 'th', hnum(per_column[0]), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', hnum(per_column[1]), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', hnum(per_column[2]), :class => 'cost', :colspan =>'2' %></tr>
<tr><%= content_tag 'th', hnum(per_column[3]), :class => 'cost', :colspan =>'2' %></tr>
