<%= render :partial => 'common/header' %>
<%= include_calendar_headers_tags %>
<%= heads_for_wiki_formatter %>

<h2>Time Logging</h2>
<% if  @resources.any? %>
  <%= render :partial => "filters" %>
  <%= render :partial => "list" %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
